



@media all and (max-width: 3046px) {
	#todoApp {
		width: 56.25%;
		font-size: 2rem;
	}

	h1.app-title {
		font-size: 4rem;
	}
}

@media all and (max-width: 1046px) {
	#todoApp {
		font-size: 1.5rem;
	}
	h1.app-title {
		font-size: 3.75rem;
	}
}

@media all and (max-width: 726px) {
	#todoApp {
		font-size: 1.3rem;
	}
	h1.app-title {
		font-size: 3.7rem;
	}
}
@media all and (max-width: 480px) {
	#todoApp {
		width: 270px;
		font-size: 1em;
	}
	h1.app-title {
		font-size: 3.5rem;
	}
}
body {
	background: url('../img/stripe.png');
	font-family: 'Roboto Condensed', sans-serif;
}


#todoApp {
	margin: auto;
	background-color: white;
}

h1.app-title {
	text-align: center;
	margin-bottom: 10px;
}

input.input-text {
	width: 95%;
	margin: 10px;
	font-size: 1.5em;
	box-sizing: border-box;

}
ul.item-list {
	text-align: left;
	list-style: none;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-right: 10px;
}

li.todoitem {
	margin-bottom: 10px;
}

li:first-child {
	font-size: 1.1em;
	font-color: "#3F5A17";
}

a.endreKnapp, a.slettKnapp {
	float:right;
	text-decoration: underline;
	margin-right: 5px;
	cursor:pointer;
}
