
<h1>Registrerte representanter</h1>
<div ng-show="adminRepresentativesController.representatives">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Navn</th>
				<th>Gruppe</th>
				<th>Kjønn</th>
				<th>Slett?</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="representative in adminRepresentativesController.representatives">
				<td>{{ representative.number }}</td>
				<td>{{ representative.name }}</td>
				<td>{{ representative.group }}</td>
				<td>{{ representative.sex }}</td>
				<td><small class="btn btn-danger" ng-click="adminRepresentativesController.removeRepresentative(representative.number)">X</small></td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-hide="adminRepresentativesController.representatives">
	<p>Ingen registrerte talere.</p>
</div>

<div ng-show="false"> <!-- fordi ikke implementert enda -->
<h2>Registrér representanter</h2>

<label for="csv-upload">Last opp fil med representanter:</label>
<input id="csv-upload" type="file" accept=".csv" onchange='adminRepresentativesController.readFileToArray(this.files)' />

<p class="help">Fila må ende på .csv og ha følgende format:</p>
<pre>1,Torkil Vederhus,Realistlista,M
2,Grete Godtland Noem,Venstrealliansen,K
3,Stian Lågstad,Realistlista,M
4,Ingunn Inge Nordmann,Grønn liste,T</pre>
</div>

<h2>Legg til eller rediger enkeltrepresentant</h2>
<p class="help">Hvis du bruker et nummer som allerede eksisterer vil du overskrive all data for representanten</p>

<form ng-submit="adminRepresentativesController.postRepresentativeFromForm()" class="form-horizontal">

	<div class="form-group">
		<label for="number" class="control-label col-xs-2">Nummer</label>
		<div class="col-xs-10">
			<input
				id="number"
				class="form-control"
				ng-model="adminRepresentativesController.number" />
			</div>
	</div>

	<div class="form-group">
		<label for="name" class="control-label col-xs-2">Navn</label>
		<div class="col-xs-10">
			<input
				id="name"
				class="form-control"
				ng-model="adminRepresentativesController.name" />
			</div>
	</div>

	<div class="form-group">
		<label for="group" class="control-label col-xs-2">Liste/gruppe</label>
		<div class="col-xs-10">
			<input
				id="group"
				class="form-control"
				ng-model="adminRepresentativesController.group" />
			</div>
	</div>

	<div class="form-group">
		<label for="sex" class="control-label col-xs-2">Kjønn</label>
		<div class="col-xs-10">
			<input
				id="sex"
				class="form-control"
				ng-model="adminRepresentativesController.sex" />
			</div>
	</div>

	<div class="form-group text-right">
		<button class="btn btn-default" type="submit">Legg til</button>
	</div>

</form>