<h1>Ordstyrer</h1>

<!-- idéen er at man etterhvert kan laste opp sakstitlene og displaye hvilken sak man er på nå, og kanskje tegne seg til ulike saker. ikke implementert forløpig -->
<h2>Sakstittel</h2>
<form ng-submit="leadMeetingController.setSubjectTitle()" class="form-horizontal">

	<div class="form-group">
		<label for="subject" class="control-label col-xs-2">Sakstittel</label>
		<div class="col-xs-8">
			<input
				type="text"
				placeholder="Skriv inn sakstittel.."
				id="subject"
				class="form-control"
				ng-model="leadMeetingController.subjectTitle" />
			</div>
		<div class="col-xs-2">
			<button class="btn btn-default" type="submit">Sett sakstittel</button>
		</div>
	</div>

</form>

<div id="stopwatch" class="biggerText"></div>

<h2>Legg til taler</h2>
<form ng-submit="leadMeetingController.addSpeaker()" class="form-horizontal">

	<div class="form-group">
		<label for="speakerNumber" class="control-label col-xs-2">Talenummer</label>
		<div class="col-xs-8">
			<input
				type="text"
				placeholder="Skriv inn talenummer.."
				id="speakerNumber"
				class="form-control"
				ng-model="leadMeetingController.speakerNumber" />
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default" type="submit">Legg til</button>
		</div>
	</div>

</form>

<h2>Talelista nå</h2>
<div ng-show="leadMeetingController.speakerList">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Navn</th>
				<th>Gruppe</th>
				<th>Fjern</th>
			</tr>
		</thead>
		<tbody ng-repeat="speaker in leadMeetingController.speakerList">
			<tr ng-class="{hightlightSpeaker: speaker.speaking}">
				<td>{{ speaker.number }}</td>
				<td>{{ speaker.name }}</td>
				<td>{{ speaker.group }}</td>
				<td><small class="btn btn-danger" ng-click="leadMeetingController.removeSpeaker($index)">X</small></td>
			</tr>
			<tr ng-repeat="reply in speaker.replies" ng-class="{hightlightSpeaker: reply.speaking}">
				<td><span class="glyphicon glyphicon-arrow-right"></span> {{ reply.number }}</td>
				<td>{{ reply.name }}</td>
				<td>{{ reply.group }}</td>
				<td><small class="btn btn-danger" ng-click="leadMeetingController.removeReplicant($index)">X</small></td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-hide="leadMeetingController.speakerList">
	<p>Ingen talere på lista.</p>
</div>

<h2>Registrerte representanter</h2>
<div ng-show="leadMeetingController.speakers">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Navn</th>
				<th>Gruppe</th>
				<th>Kjønn</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="speaker in leadMeetingController.speakers">
				<td>{{ speaker.number }}</td>
				<td>{{ speaker.name }}</td>
				<td>{{ speaker.group }}</td>
				<td>{{ speaker.sex }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-hide="leadMeetingController.speakers">
	<p>Ingen registrerte talere.</p>
</div>