<h1>Taleliste</h1>

<div ng-show="speakerListController.speakerList">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Navn</th>
				<th>Gruppe</th>
			</tr>
		</thead>
		<tbody ng-repeat="speaker in speakerListController.speakerList">
			<tr ng-class="{hightlightSpeaker: speaker.speaking}">
				<td>{{ speaker.number }}</td>
				<td>{{ speaker.name }}</td>
				<td>{{ speaker.group }}</td>
			</tr>
			<tr ng-repeat="reply in speaker.replies" ng-class="{hightlightSpeaker: reply.speaking}">
				<td><span class="glyphicon glyphicon-arrow-right"></span> {{ reply.number }}</td>
				<td>{{ reply.name }}</td>
				<td>{{ reply.group }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-hide="speakerListController.speakerList">
	<h2>Si noe da!</h2>
	<p>Ingen talere på lista :'(</p>
</div>