<form ng-submit="leadMeetingController.setSubjectTitle()" class="form-horizontal">

	<div class="form-group">
		<label for="subject" class="control-label col-xs-2">Sakstittel</label>
		<div class="col-xs-8">
			<input
				type="text"
				placeholder="Skriv inn sakstittel.."
				id="subject"
				class="form-control"
				ng-model="leadMeetingController.subjectTitle" />
			</div>
			
		<div class="col-xs-2">
			<button class="btn btn-default" type="submit">Lagre</button>
		</div>
	</div>

</form>

<form ng-submit="leadMeetingController.addSpeaker()" class="form-horizontal">

	<div class="form-group">
		<label for="speakerNumber" class="control-label col-xs-2">Legg til/Neste taler</label>
		<div class="col-xs-8">
			<input
				type="text"
				placeholder="Ny taler: Skriv talenummer. Replikk: Skriv r+talenummer. Neste taler/replikk: Trykk enter i tomt felt"
				id="speakerNumber"
				class="form-control"
				ng-model="leadMeetingController.speakerNumber" />
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default" type="submit">Legg til</button>
		</div>
	</div>

	</form>
<div id="stopwatch" class="fontSizeDoubled alignCenter"></div>
<div ng-show="leadMeetingController.speakerList">
	<table class="table borderless">
		<thead>
			<tr>
				<th>#</th>
				<th>Navn</th>
				<th>Gruppe</th>
				<th>Fjern</th>
			</tr>
		</thead>
		<tbody ng-repeat="speaker in leadMeetingController.speakerList">
			<tr ng-class="{hightlightSpeaker: speaker.speaking}">
				<td>{{ speaker.number }}</td>
				<td>{{ speaker.name }}</td>
				<td>{{ speaker.group }}</td>
				<td><small class="btn btn-danger" ng-click="leadMeetingController.removeSpeaker($index)">X</small></td>
			</tr>
			<tr ng-repeat="reply in speaker.replies" ng-class="{hightlightSpeaker: reply.speaking}">
				<td><span class="glyphicon glyphicon-arrow-right"></span> {{ reply.number }}</td>
				<td>{{ reply.name }}</td>
				<td>{{ reply.group }}</td>
				<td><small class="btn btn-danger" ng-click="leadMeetingController.removeReplicant($index)">X</small></td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-hide="leadMeetingController.speakerList">
	<p>Ingen talere på lista.</p>
</div>



<h2>Registrerte representanter</h2>
<div ng-show="leadMeetingController.representatives">
	<table class="table borderless">
		<thead>
			<tr>
				<th>#</th>
				<th>Navn</th>
				<th>Gruppe</th>
				<th>Kjønn</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="representative in leadMeetingController.representatives">
				<td>{{ representative.number }}</td>
				<td>{{ representative.name }}</td>
				<td>{{ representative.group }}</td>
				<td>{{ representative.sex }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-hide="leadMeetingController.representativess">
	<p>Ingen registrerte representanter.</p>
</div>