<form ng-submit="leadMeetingController.setSubjectTitle()" class="form-horizontal">

	<div class="form-group">
		<label for="subject" class="control-label col-xs-2" translate>{{ 'SUBJECT' }}</label>
		<div class="col-xs-8">
			<input
				type="text"
				placeholder="{{ 'SUBJECT_PLACEHOLDER' | translate }}"
				id="subject"
				class="form-control"
				ng-model="leadMeetingController.subjectTitle" />
			</div>
			
		<div class="col-xs-2">
			<button class="btn btn-default" type="submit" translate>{{ 'SAVE' }}</button>
		</div>
	</div>

</form>

<form ng-submit="leadMeetingController.addSpeaker()" class="form-horizontal">
	
	<div class="form-group">
		<label for="speakerNumber" class="control-label col-xs-2" translate>{{ 'ADD_NEXT_SPEAKER' }}</label>
		<div class="col-xs-8">
			<input
				type="text"
				placeholder="{{ 'ADD_NEXT_SPEAKER_PLACEHOLDER' | translate }}"
				id="speakerNumber"
				class="form-control"
				ng-model="leadMeetingController.speakerNumber" />
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default" type="submit" translate>{{ 'SUBMIT' }}</button>
		</div>
	</div>

</form>
<div id="helpText" class=" alignCenter" translate>{{ 'LEADER_HELP' }}</div>

<div id="stopwatch" class="fontSizeDoubled alignCenter"></div>
<div id="timeLeft">{{ 'TIME_LEFT'  | translate}} {{ leadMeetingController.doneEstimate.format("H:mm") }}
	<a ng-hide="leadMeetingController.showEstimateParameters" ng-click="leadMeetingController.toggleEstimateParameters()">	⚙
	</a>
	<a ng-show="leadMeetingController.showEstimateParameters" ng-click="leadMeetingController.toggleEstimateParameters()" translate>	{{ 'HIDE_INPUT' }}
	</a>
</div>
<div id="helpText" class=" alignCenter"> {{ 'TIME_HELP' }}. </div>

<div class="form-horizontal" ng-show="leadMeetingController.showEstimateParameters">
	<div class="form-group">

		<form ng-submit="leadMeetingController.estimateTime()">
			<label for="speechLength" class="control-label col-xs-2" translate>{{ 'SPEECH_LENGTH' }}</label>
			<div class="col-xs-1">
				<input id="speechLength" type="text" class="form-control" ng-model="leadMeetingController.speechLength"/> 
			</div>
		</form>
		<form ng-submit="leadMeetingController.estimateTime()">
			<label for="numberOfReplies" class="control-label col-xs-3" translate>{{ 'NUMBER_OF_REPLIES' }}</label>
			<div class="col-xs-1">
				<input id="numberOfReplies" type="text" class="form-control" ng-model="leadMeetingController.numberOfReplies"/>
			</div>
		</form>
		<form ng-submit="leadMeetingController.estimateTime()">
			<label for="replyLength" class="control-label col-xs-3" translate>{{ 'REPLY_LENGTH' }}</label>
			<div class="col-xs-1">
				<input id="replyLength" type="text" class="form-control" ng-model="leadMeetingController.replyLength" />
			</div>
		</form>
	</div>
</div>
	
<div ng-show="leadMeetingController.speakerList">
	<table class="table borderless">
		<thead>
			<tr>
				<th>#</th>
				<th translate>{{ 'NAME' }}</th>
				<th translate>{{ 'GROUP' }}</th>
				<th translate>{{ 'MOVE' }}</th>
				<th translate>{{ 'REMOVE' }}</th>
			</tr>
		</thead>
		<tbody ng-repeat="speaker in leadMeetingController.speakerList">
			<tr ng-class="{hightlightSpeaker: speaker.speaking}">
				<td>{{ speaker.number }}</td>
				<td>{{ speaker.name }}</td>
				<td>{{ speaker.group }}</td>
				<td><div class="cursor-hover" ng-hide="$first"  ng-click="leadMeetingController.moveUp($index)">↑</div>
					<div class="cursor-hover" ng-hide="$last"  ng-click="leadMeetingController.moveDown($index)">↓</div>
				</td>
				<td><small class="btn btn-danger" ng-click="leadMeetingController.removeSpeaker($index)">X</small></td>
			</tr>
			<tr ng-repeat="reply in speaker.replies" ng-class="{hightlightSpeaker: reply.speaking}">
				<td><span class="glyphicon glyphicon-arrow-right"></span> {{ reply.number }}</td>
				<td>{{ reply.name }}</td>
				<td>{{ reply.group }}</td>
				<td></td>
				<td><small class="btn btn-danger" ng-click="leadMeetingController.removeReplicant($index)">X</small></td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-hide="leadMeetingController.speakerList">
	<p translate>{{ 'NO_SPEAKERS_ON_LIST' }}</p>
</div>
<form id="infoForm" class="form-horizontal" ng-submit="leadMeetingController.updateMessage()">
<div class="form-group">
	<label for="generalInfo" class="control-label col-xs-2" translate>{{ 'GENERAL_INFO' }}</label>
	<div class="col-xs-8">
		<textarea id="generalInfo" rows="4" cols="50" ng-model="leadMeetingController.message">
		</textarea> 
		<p translate>{{ 'GENERAL_INFO_INSTRUCTIONS' }} </p>
	</div>
	<div class="col-xs-2">
		<button type="submit" class="btn btn-default" translate>{{ 'UPDATE' }}
		</button>
	</div>
</div>
</form>

<h2 translate>{{ 'REGISTERED_REPRESENTATIVES' }}</h2>
<div ng-show="leadMeetingController.representatives">
	<table class="table borderless">
		<thead>
			<tr>
				<th>#</th>
				<th translate>{{ 'NAME' | translate }}</th>
				<th translate>{{ 'GROUP' }}</th>
				<th translate>{{ 'SEX' }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="representative in leadMeetingController.representatives">
				<td>{{ representative.number }}</td>
				<td>{{ representative.name }}</td>
				<td>{{ representative.group }}</td>
				<td>{{ representative.sex }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-hide="leadMeetingController.representatives">
	<p translate>{{ 'NO_REPRESENTATIVES' }}</p>
</div>
