/* Highlighting of the current speaker */
.hightlightSpeaker {
	font-size: 1.5em;
}

/* Bigger text for the speaker-list view */
.biggerText {
	font-size: 300%;
}

.fontSizeDoubled {
	font-size: 200%;
}

.alignCenter {
	text-align: center;
}

.display-inline-half-width {
	display: inline-block;
	width: 49%;
}

.menuDropdown {
	margin-top: 9px;
}

textarea {
	width: 100%;
}