.organization-item {
	cursor: pointer;
	transition: background-color 0.2s;
	font-size: 1.25rem;
	font-weight: 400;
	padding: 1rem 1rem;
	border-bottom: 1px solid #dee2e6;
  }
  
  .organization-item:hover {
	background-color: #f8f9fa;
  }
ul {
	list-style: none;
}
.name-i {
	color: #902626;
}

.organisations-chooser {
	margin-top: 2rem;
}

img.logo {
	height: 18rem;
	width: 18rem;
	margin-bottom: 1rem;
}

li.new-organisation {
	color: #444444;
	width: 100%;
	font-size: 4rem;
	vertical-align: middle;

}
.add-icon {
	display: inline-block;
	font-size: 6rem;

}

.add-icon:hover {
	text-decoration: none;

}
li.organisation:hover, li.new-organisation:hover {
	color: red;
}


/*.organisation-chooser {
	width: 50%;
}*/