a.organisation {
	display: inline-block;
	background: #fcfcfc;
	border: 0px;
	text-align: left;
	font-size: 1.75rem;
	margin-right: 4rem;
	margin-bottom: 1rem;
	width: 18rem;
	color: #444444;
	vertical-align: top;

}

.name-i {
	color: #902626;
}

.organisations-chooser {
	margin-top: 2rem;
}

img.logo {
	height: 18rem;
	width: 18rem;
	margin-bottom: 1rem;
}

a.new-organisation {
	display: inline-block;
	color: #444444;
	width: 100%;
	font-size: 5rem;
	vertical-align: middle;

}
.add-icon {
	display: inline-block;
	font-size: 6rem;

}

.add-icon:hover {
	text-decoration: none;

}
a.organisation:hover, a.new-organisation:hover {
	color: red;
}


/*.organisation-chooser {
	width: 50%;
}*/