<h1><span class="glyphicon glyphicon-bullhorn"></span> Ro <span class="name-i">i</span> salen</h1>

<div ng-controller="organisationController" class="organisations-chooser">
	<a class="new-organisation" ui-sref='add-organisation' translate> <div class="add-icon">+</div> {{ 'ADD_ORGANISATION' }}</a>
	<hr/>


	<a class="organisation" href="" ng-repeat="organisation in organisationController.organisations" ng-click="organisationController.chooseOrganisation(organisation)"><img class='logo' src='{{organisation.logoUrl}}' />{{organisation.name}}</a>
	
</div>

<h2 translate>{{ 'ABOUT_HEADER' }}</h2>
<p translate>{{ 'ABOUT_P_1' }}</p>
<ul>
<li translate>{{ 'ABOUT_LIST_1' }}</li>
<li translate>{{ 'ABOUT_LIST_2' }}</li>
<li translate>{{ 'ABOUT_LIST_3' }}</li>
<li translate>{{ 'ABOUT_LIST_4' }}</li>
</ul> 
<p translate>{{ 'ABOUT_P_2' }}</p>