a.organisation, a.newOrganisation {
	display: block;
	background: #fcfcfc;
	border: 0px;
	text-align: left;
	font-size: 2em;
	margin: 2px;
	width: 75%;
	padding: 10px;
	color: #444444;

}

img.logo {
	height: 2em;
	padding: 10px;
}

a.organisation:hover {
	color: red;
	background: white;
}


/*.organisation-chooser {
	width: 50%;
}*/