@media all and (max-width: 3046px) {
	#speakerApp {
		width: 56.25%;
		font-size: 1.5rem;
	}
}

@media all and (max-width: 1046px) {
	#speakerApp {
		font-size: 1.5rem;
	}
}

@media all and (max-width: 726px) {
	#speakerApp {
		font-size: 1.3rem;
	}
}

@media all and (max-width: 480px) {
	#speakerApp {
		width: 270px;
		font-size: 1em;
	}
}

body {
	background: url('stripe.png');
	font-family: 'Roboto Condensed', sans-serif;
}

h2 {
	margin-bottom: 3px;
}
#speakerApp {
	margin: auto;
	padding: 1px 0px 15px 15px;
	background-color: white;
}