#subject {
	width: 95%;
	margin: 10px;
	font-size: 1.5em;
}

#speakerList {
	text-align: left;
	padding-left: 2%;
	padding-bottom: 20px;
	padding-right: 2%;
}

h1,h2 {
	padding-left: 10px;
}

#stopwatch {
	float: left;
	margin: 10px;
	font-size: 1.5em;
}

#stopwatch a, #stopwatch span {
	margin: 5px;
}
#stopwatch a {
	text-decoration: none;
	color: black;
}
.speaker-input {
	float: right;
	font-size: 1.5em;
	margin: 10px;
	margin-right: 4%;
	width: 60%;
}

tr.entry {
	margin-bottom: 10px;
	width: 100%;
}

tr:first-child {
	font-size: 2em;
}

td.delete-link {
	text-align: right;
}

td.name {
	width: 100%;
}
a.endreKnapp, a.slettKnapp {
	float:right;
	text-decoration: underline;
	margin-right: 5px;
	cursor:pointer;
}